*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* configuração da div que e pai das divs que vão exibir os projetos*/
.exibirprojetos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    column-gap: 24px;
}

/* configuração da div que vai receber os projetos */
.projeto{
    width: 389px;
    height: 290px;
}


/* imagem dentro da div projeto*/
.projeto > img{
    width: 389px;
    height: 290px;
}

.rodapeProjeto{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

}

.rodapeProjeto > img{
    width: 24px;
    border-radius: 50%;
}

.rodapeProjeto > p{
    color: #515255;
}

.nome-descobrir::after {
    content: '\00B7'; 
    margin-left: .5rem;
    font-weight: bold;
  }

@media (max-width: 1256px){
    .exibirprojetos{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 832px){
    .exibirprojetos{
        grid-template-columns: repeat(1,1fr);
    }

    .projeto > img{
        width: 312px;
    }
}
