.container-mensagem-sucesso {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E7D32;
  width: 32rem;
  gap: 1rem; 
  border-radius: 4px;
  padding: .7rem 1.6rem;
  margin-bottom: 14rem;
}

.mensagem-sucesso {
  color: #fff;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 1rem;
}

.mensagem-desaparecer {
  display: none;
}

@media (max-width: 1000px) {
  .container-mensagem-sucesso {
    width: 100%;
    margin-bottom: 5.6rem;
  }
}
