
/*Container imagem*/

.btn-submit {
  display: flex;
  width: 100%;
  height: 4.2rem;
  overflow: hidden;
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: var(--borderRadius, 4px);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: var(--Color-Brand-Secundria-Secondary-100, #f52);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-transform: uppercase;
}
.btn-submit:hover {
  border-radius: var(--borderRadius, 4px);
  background: var(--Color-Brand-Secundria-Secondary-110, #c40);
  /* elevation/4 */
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.btn-primary:active {
  --bs-btn-active-bg: #ff5522;
}
/*Container login*/
.container-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-sign-in {
  display: flex;
  /*width: 517px;
  height: 271px; */
  max-width: 517px;
  padding-bottom: 0.3rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.12rem;
  flex-shrink: 0;
}

.text-begin {
  color: var(
    --Color-Brand-Primria-Primary-90,
    var(--Color-Brand-Primria-Primary-90, #224)
  );
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
}
.form-label:focus + .form-group {
  position: relative;
  top: -10px;
}
.text-login {
  align-self: stretch;
  color: var(--Neutral-Colors-Neutral-110, #515255);

  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.link-cadastro {
  color: var(--Neutral-Colors-Neutral-100, #818388);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.015rem;
}
.password {
  justify-self: flex-end;
  display: flex;
  background-position: 95% center;
  background-image: url(/public/images/visibility.svg);
  background-repeat: no-repeat;
}

.input-field {
  position: relative;
  width: 100%;
}

.input-field input {
  height: 6rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  padding: 0 15px;
  border-radius: var(--borderRadius, 4px);
  border: var(--none, 1px) solid
    var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
  outline: none;
}

.input-field .form-label {
  position: absolute;
  top: -10px; /* Ajuste o valor conforme necessário para posicionar acima da borda */
  left: 15px;
  font-size: 1.6rem;
  padding: 0 0.2rem;
  background: #fff;
  color: var(--Neutral-Colors-Neutral-110, #515255);
  transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label {
  top: -10px; /* Mantenha o mesmo valor ajustado para o foco ou input válido */
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #060b23;
}

a {
  text-decoration: none;
}
input:hover {
  border-color: var(--components-input-standard-hoverBorder, #000);
}
.title {
  color: var(--Color-Brand-Primria-Primary-90, #224);
  text-align: center;
  /* [Orange P] Style Guide/H3 */
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  margin-bottom: 3.2rem;
}


.login-voltar {
  color: var(--Neutral-Colors-Neutral-100, #818388);
  font-size: 1.5rem;
}
