.container-mensagem-sucesso {
  display: flex;
  align-items: center;
  background-color: #28a745;
  gap: 1.2rem; 
  border-radius: 2px;
  padding: .7rem 1.6rem;
  margin-bottom: 14rem;
}

.container-mensagem-sucesso img {
  display: inline-block;
}

.mensagem-sucesso {
  color: #fff;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
}

.mensagem-desaparecer {
  display: none;
}

@media (max-width:100px) {
  .container-mensagem-sucesso {
    width: 100%;
  }
}
