* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
/*Container imagem*/
.container-img {
  display: flex;
  width: 41.02%;
  max-width: 525px;
  height: 100vh;
  border-radius: var(--none, 0px);
  background:
    url("\orange-juice-front-end\src\pages\TelaLogin\assets\img_login.png"),
    lightgray 50% / cover no-repeat;
  flex-shrink: 0;
}
.btn-submit {
  display: flex;
  width: 51.7rem;
  height: 4.2rem;
  overflow: hidden;
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: var(--borderRadius, 4px);
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background: var(--Color-Brand-Secundria-Secondary-100, #f52);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btn-submit:hover {
  border-radius: var(--borderRadius, 4px);
  background: var(--Color-Brand-Secundria-Secondary-110, #c40);
  /* elevation/4 */
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
/*Container login*/
.container-form {
  display: flex;
  max-width: 755px;
  width: 60%;
  height: 100%;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-sign-in {
  display: flex;
  /*width: 517px;
  height: 271px; */
  width: 80%;
  max-width: 517px;
  padding-bottom: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
  flex-shrink: 0;
}

.text-begin {
  color: var(
    --Color-Brand-Primria-Primary-90,
    var(--Color-Brand-Primria-Primary-90, #224)
  );
  font-family: Roboto;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
}
.form-label:focus + .form-group {
  position: relative;
  top: -10px;
}
.text-login {
  align-self: stretch;
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-family: Roboto;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.link-cadastro {
  color: var(--Neutral-Colors-Neutral-100, #818388);
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.15px;
}
#input-password {
  justify-self: flex-end;
  display: flex;
  background-position: 95% center;
  background-image: url(/public/images/visibility.svg);
  background-repeat: no-repeat;
}


.input-field {
  position: relative;
  width: 100%;
}

.input-field input {
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border-radius: var(--borderRadius, 4px);
  border: var(--none, 1px) solid
    var(--components-input-outlined-enabledBorder, rgba(0, 0, 0, 0.23));
  outline: none;
}

.input-field .form-label {
  position: absolute;
  top: -10px; /* Ajuste o valor conforme necessário para posicionar acima da borda */
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
  color: var(--Neutral-Colors-Neutral-110, #515255);
  transition: 0.3s;
}

input:focus ~ label,
input:valid ~ label {
  top: -10px; /* Mantenha o mesmo valor ajustado para o foco ou input válido */
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #060b23;
}

a {
  text-decoration: none;
}
input:hover {
  border-color: var(--components-input-standard-hoverBorder, #000);
}
.title {
  color: var(--Color-Brand-Primria-Primary-90, #224);
  text-align: center;
  /* [Orange P] Style Guide/H3 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 32px;
}
