.meus-projetos {
  padding: 0 3.2rem;
  margin-bottom: 7.9rem;
}

.meus-projetos p {
  color: var(--color-neutral-130);

  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.15px;
}

.meus-projetos input {
  width: 48.9rem;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
  letter-spacing: 0.15px;

  margin: 1.6rem 0 4rem 0;
  padding: 1.6rem 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-100);
}

.meus-projetos__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}

.meus-projetos__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 29.8rem;
  width: 39rem;
  background-color: var(--color-neutral-70);
  opacity: 0.8;
  gap: 1.6rem;
}

.meus-projetos__card--ativado {
  position: relative;
  height: 29.8rem;
  width: 39rem;
}

.icone-lapis {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: var(--color-brand-secundaria-secondary-70);
  border-radius: 100%;
  cursor: pointer;
}

.dropdown-editar-excluir ul {
  position: absolute;
  right: 1.6rem;
  top: 5rem;
  background: #fff;
  padding: 0.8rem 0;
  border-radius: 0.8rem;
  width: 20rem;
}

.dropdown-editar-excluir ul li {
  color: var(--neutral-colors-neutral-110);
  padding: 1rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.15px;
}
.dropdown-editar-excluir{
  padding: 0 1.6rem  ;
}

.triangulo-balao {
  position: absolute;
  right: 3.5rem;
  top: 4.3rem;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid white;
}

.tag-card-usuario {
  border-radius: 100%;
  background: var(--action-selected, rgba(0, 0, 0, 0.08));
  padding: 1rem;

  color: var(--text-primary);

  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.16px;
}

.imagem-projeto-usuario {
  height: 25.8rem;
  width: 39rem;
}

.meus-projetos__card--ativado p:nth-child(2) {
  color: var(--color-principal-130);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 100% */
  letter-spacing: 0.5px;
}

.meus-projetos__card-info-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-card-info-usuario {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.meus-projetos__card--ativado p:nth-child(3) {
  color: var(--color-principal-130);

  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 100% */
  letter-spacing: 0.5px;
}

.card-nome-usuario::after {
  content: "\00B7";
  margin-left: 0.5rem;
  font-weight: bold;
}

.li-hover:hover{
  transition: all .5s;
  background: #FFEECC;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .meus-projetos__cards {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

@media (max-width: 800px) {
  p {
    text-align: start;
    width: 100%;
  }
  .meus-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 2.4rem;
  }
  .meus-projetos input {
    width: 100%;
  }

  .meus-projetos__cards {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }
  .imagem-projeto-usuario {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .meus-projetos__card--ativado {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
