
.icone-close {
  text-align: right;
}

.preview {
  width: 104.2rem;
  height: 98.0815rem;
  flex-shrink: 0;
  background: #fff;
  border: none;
  margin: auto;
  padding: 5.6rem 10.2rem 8.2rem 10.2rem;
  gap:3.2rem;
  overflow-x: hidden;
  overflow-y: visible
}

.header-modal-visualizar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17.5rem;
  margin: 2.5rem 0 3.4rem 0;
}

.main-ver-img {
  gap: 6.4rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-modal-visualizar-projeto {
  color: var(--Neutral-Colors-Neutral-120, #303133);

  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
}

.text-modal-visualizar-projeto {
  color: var(--Neutral-Colors-Neutral-120, #303133);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; 
  letter-spacing: 0.5px;

  margin-bottom: 6rem ;
}

.tag-container {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.tag {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  padding: 0.7rem;

  border-radius: 10rem;
  background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

/* .container-img-visualizar {
  width: 100%;
  height: 585px;
} */

.imagem-vizualizar {
  width: 100%;
}

.icon-perfil {
  display: flex;
  gap: 0.8rem;
}
.text-name {
  display: flex;
  flex-direction: column;
}
.text-download{
  text-align: left;
}
.footer-ver-img{
  width: 100%;
}