*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#pop{
    width: 500px;
    height: 500px;
    background-color: rgb(199, 167, 230);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    font-size: 30px;
}

#imagempop{
    width: 400px;
    height: 400px;
}
.fechar{
    position: absolute;
    top: 0px; 
    right: 0px;
    background-color: aqua;
    padding: 10px;
}