*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* configuração da div que e pai das divs que vão exibir os projetos*/
.exibirprojetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: start;
}

/* configuração da div que vai receber os projetos */
.projeto{
    width: 389px;
    background-color: #ffffff;
}


/* imagem dentro da div projeto*/
.projeto > img{
    width: 100%;

}

.rodapeProjeto{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

}

.rodapeProjeto > img{
    width: 24px;
    border-radius: 50%;
}

.rodapeProjeto > p{
    color: #515255;
}